<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <!-- <link rel="stylesheet" href=""> -->
    <% include ../partials/css-bootstrap %>
    
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="container">
        <h1>Profile</h1>
        <hr>
        <% if(messages.length > 0) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
               <%= messages %>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <% } %>
        <div class="container mt-5">
            <form action="/profile" method="post">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="first-name" name="firstname"
                            value="<%= data.firstname %>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="last-name" name="lastname"
                            value="<%= data.lastname %>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" readonly class="form-control" id="email" name="email"
                            value="<%= data.email %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" value=""
                            placeholder="Password">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Retype Password</label>
                    <div class="col-sm-10">
                       <input type="password" class="form-control" id="retype-password" name="reTypePassword" value=""
                          placeholder="Retype Password">
                    </div>
                 </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Position</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="position" id="position"
                                value="manager" <%= data.position == 'manager' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Manager
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="position" value="programmer"
                                <%= data.position == 'programmer' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Software Developer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="position" value="quality assurance"
                                <%= data.position == 'quality assurance' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Quality Assurance
                            </label>
                        </div>
                    </div>

                </div>


                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="fulltime"
                                <%= data.type == 'fulltime' ? 'checked' : '' %>>
                            <label class="form-check-label" for="exampleRadios1">
                                Fulltime
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="parttime"
                                <%= data.type == 'parttime' ? 'checked' : '' %>>
                            <label class="form-check-label" for="exampleRadios1">
                                Part-time
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/footer %>
    <script>
        let password = document.getElementById("password")
        let reTypePassword = document.getElementById("retype-password");
  
        function validatePassword() {
           if (password.value != reTypePassword.value) {
              reTypePassword.setCustomValidity("Passwords Don't Match");
           } else {
              reTypePassword.setCustomValidity('');
           }
        }
        password.onchange = validatePassword;
        reTypePassword.onkeyup = validatePassword;
  
     </script>

</body>

</html>