<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <% include ../partials/css-bootstrap %>
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="container" style="margin-top: 5%;">
        <h1>Profile</h1>
        <div class="container mt-5">
            <form action="/profile" method="post">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticEmail" name="firstname"
                            value="<%= user.firstname %>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Last name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticEmail" name="lastname"
                            value="<%= user.lastname %>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" readonly class="form-control" id="staticEmail" name="email"
                            value="<%= user.email %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="pass" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Position</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" id="exampleRadios1"
                                value="manager" <%= data.role == 'manager' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Manager
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role"
                                value="programmer" <%= data.role == 'programmer' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Software Developer
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role"
                                value="quality assurance" <%= data.role == 'quality assurance' ? 'checked' : '' %>>
                            <label class="form-check-label">
                                Quality Assurance
                            </label>
                        </div>
                    </div>

                </div>


                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="fulltime"
                                <%= data.type == 'fulltime' ? 'checked' : '' %>>
                            <label class="form-check-label" for="exampleRadios1">
                                Fulltime
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" 
                                value="parttime" <%= data.type == 'parttime' ? 'checked' : '' %>>
                            <label class="form-check-label" for="exampleRadios1">
                                Part-time
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>


    </div>
</body>

</html>