<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%_ include ../../partials/css-bootstrap -%>
    <style>
        body {
            margin-top: 60px;
            margin-bottom: 80px;
        }

        .content {
            margin-left: 30px;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/sidebar'); %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <h1>Edit Issue</h1>
                    <hr>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="projectId" value="<%= project.projectid %>">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Tracker
                            </label>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tracker" value="bug"
                                        <%= issue.tracker == 'bug' ? 'checked': 'disabled' %>>
                                    <label class="form-check-label">
                                        Bug
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tracker" value="feature"
                                        <%= issue.tracker == 'feature' ? 'checked': 'disabled' %>>
                                    <label class="form-check-label">
                                        Feature
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tracker" value="support"
                                        <%= issue.tracker == 'support' ? 'checked': 'disabled' %>>
                                    <label class="form-check-label">
                                        Support
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Subject
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="subject" value="<%= issue.subject %>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Description
                            </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="description"
                                    rows="4"><%= issue.description %></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Status
                            </label>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="new"
                                        <%= issue.status == 'new' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        New
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="in progress"
                                        <%= issue.status == 'in progress' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        In Progress
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="resolved"
                                        <%= issue.status == 'resolved' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Resolved
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="feedback"
                                        <%= issue.status == 'feedback' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Feedback
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="closed"
                                        <%= issue.status == 'closed' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Closed
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="status" value="rejected"
                                        <%= issue.status == 'rejected' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Rejected
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Priority
                            </label>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" value="normal"
                                        <%= issue.priority == 'normal' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Normal
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" value="high"
                                        <%= issue.priority == 'high' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        High
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" value="urgent"
                                        <%= issue.priority == 'urgent' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Urgent
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="priority" value="immediate"
                                        <%= issue.priority == 'immediate' ? 'checked': '' %>>
                                    <label class="form-check-label">
                                        Immediate
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Assignee</label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" name="assignee">
                                    <% if(!assignee[0]){ %>
                                    <option value="" selected disabled>Choose assignee..</option>
                                    <% } %>
                                    <% users.forEach( item => { %>
                                    <% if(assignee[0] && item.userid == assignee[0].userid){ %>
                                    <option value="<%= item.userid %>" selected><%= item.fullname  %></option>
                                    <% } %>
                                    <option value="<%= item.userid %>"> <%= item.fullname %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Start Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="startDate" type="date"
                                    value="<%= moment(issue.startdate).format('YYYY-MM-DD') %>" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Due Date</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="dueDate" type="date"
                                    value="<%= moment(issue.duedate).format('YYYY-MM-DD')%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Estimated Time</label>
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <input type="number" name="estimatedTime" class="form-control"
                                        placeholder="Estimated Time" value="<%= issue.estimatedtime %>" disabled>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Hours</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Done</label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" name="done" required>
                                    <option value="0" <%= issue.done == 0 ? 'selected' : '' %>>0%</option>
                                    <option value="10" <%= issue.done == 10 ? 'selected' : '' %>>10%</option>
                                    <option value="20" <%= issue.done == 20 ? 'selected' : '' %>>20%</option>
                                    <option value="30" <%= issue.done == 30 ? 'selected' : '' %>>30%</option>
                                    <option value="40" <%= issue.done == 40 ? 'selected' : '' %>>40%</option>
                                    <option value="50" <%= issue.done == 50 ? 'selected' : '' %>>50%</option>
                                    <option value="60" <%= issue.done == 60 ? 'selected' : '' %>>60%</option>
                                    <option value="70" <%= issue.done == 70 ? 'selected' : '' %>>70%</option>
                                    <option value="80" <%= issue.done == 80 ? 'selected' : '' %>>80%</option>
                                    <option value="90" <%= issue.done == 90 ? 'selected' : '' %>>90%</option>
                                    <option value="100" <%= issue.done == 100 ? 'selected' : '' %>>100%</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Parent Task</label>
                            <div class="form-group col-sm-8">
                                <select class="form-control" name="parentTask" required>
                                    <option value="" selected disabled>Choose parent task..</option>
                                    <% parentIssues.forEach(item => { %>
                                    <option value="<%= item.subject %>"> <%= `${item.subject} (${item.tracker})` %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Spent Time</label>
                            <div class="col-auto">
                                <div class="input-group mb-2">
                                    <input type="number" name="spentTime" placeholder="Spent time .."
                                        class="form-control" value="<%= issue.spenttime %>" required>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Hours</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Target Version
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="targetVersion"
                                    value="<%= issue.targetversion %>" placeholder="ex: version 1.0" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Author
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="targetVersion"
                                    value="<%= issue.authorname %>" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="file-upload">Files</label>
                            <div class="form-group col-sm-8">
                                <div class="custom-file mb-3">
                                    <input type="file" name="file" class="custom-file-input">
                                    <label
                                        class="custom-file-label"><%= issue.files ? 'Change file' : 'Choose file' %></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Update Issue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../../partials/footer %>


</body>

</html>