<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%_ include ../../partials/css-bootstrap -%>
    <style>
        body {
            margin-top: 60px;
            margin-bottom: 80px;
        }

        .content {
            margin-left: 30px;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/sidebar'); %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <h1 style="text-align: center;">Log Activity</h1>
                    <h4 style="text-align: center;"><%= `#${project.projectid}` %> <%= project.name %></h4>
                    <hr>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2">
                                <br>

                                <% if(activity.length == 0) { %>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    This project doesn't have any activities. Edit an issue to add new activity
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <% } %>

                                    <% activity.forEach((item, index)=> { %>
                                    <div class="card">
                                        <div class="card-header text-center">
                                            <h5><%= item.date %></h5>
                                        </div>

                                        <% activity[index].data.forEach(item =>{ %>
                                        <div class="card-body">
                                            <h5 class="card-title"><%= item.title %></h5>
                                            <p class="card-text">Spent Time (Hours):
                                                from <b><%= (!item.description[0][0]) ? '0' : item.description[0][0]%></b>
                                                updated to <strong><%= item.description[0][1]%></strong></p>

                                            <p>Done (%): from <strong><%= parseInt(item.description[1][0])%></strong> updated to <strong><%= parseInt(item.description[1][1])%></strong></p>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success"
                                                    role="progressbar"
                                                    style="width: <%= parseInt(item.description[1][0])%>%"
                                                    aria-valuenow="<%= parseInt(item.description[1][0])%>"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <%= parseInt(item.description[1][0])%>%<%= parseInt(item.description[1][1] - item.description[1][0]) == 0 ? '(No Change)' : '' %> </div>
                                                <div class="progress-bar progress-bar-striped bg-info"
                                                    role="progressbar"
                                                    style="width: <%= parseInt(item.description[1][1] - item.description[1][0])%>%"
                                                    aria-valuenow="<%= parseInt(item.description[1][1] - item.description[1][0])%>"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <%= parseInt(item.description[1][1])%>%</div>
                                            </div>

                                            <br>
                                            <h5 style="text-align: center;">Author : <%= item.authorname %>
                                                <span class="badge badge-info"><%= item.timeactivity %> WIB</span></h5>
                                        </div>
                                        <hr>
                                        <% }) %>
                                    </div>
                                    <br>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../../partials/footer %>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

</body>

</html>