<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%_ include ../partials/css-bootstrap -%>
    <style>
        .container-fluid {
            margin-top: 4%;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>

    <%_ include ../partials/navbar -%>


    <div class="container-fluid">
        <div class="row">
            <%_ include ../partials/sidebar -%>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <h1>Members</h1>
                    <hr>
                    <h2 style="text-align: left">Filters</h2>
                    <div class="formFilter">
                        <form action="" method="GET" id="searchForm">
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" name="checkId" type="checkbox"
                                                id="check-id">
                                            <label class="form-check-label" for="check-id">
                                                ID
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="form-group">
                                            <input type="number" name="id" class="form-control" id="id"
                                                placeholder="ID">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" name="checkName" type="checkbox"
                                                id="check-name">
                                            <label class="form-check-label" for="check-name">
                                                Name
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" id="name"
                                                placeholder="Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkPosition"
                                                id="check-member">
                                            <label class="form-check-label" for="check-position">
                                                Position
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="form-group">
                                            <select name="memberId" id="member" class="form-control">
                                                <option selected disabled> Choose the position ... </option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-dark" id="search-btn">Search</button>
                                <a href="/projects"><button class="btn btn-dark" id="search-btn">All</button></a>
                            </div>
                        </form>
                    </div>

                    <div class="optionsView mt-4">
                        <form action="" method="POST">
                            <h2>Options</h2>
                            <div class="form-group row">
                                <div class="col-sm-2 ml-3">Columns</div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkId" value="true"
                                            id="check-id" <%= checkOptionMember.id != undefined ? 'checked' : '' %>>
                                        <label class="form-check-label" for="check-id">
                                            ID
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkName" value="true"
                                            id="check-name" <%= checkOptionMember.name != undefined ? 'checked' : '' %>>
                                        <label class="form-check-label" for="check-name">
                                            Name
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="checkPosition" value="true"
                                            id="check-members" <%= checkOptionMember.position != undefined ? 'checked' : '' %>>
                                        <label class="form-check-label" for="defaultCheck2">
                                            Position
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-dark" id="search-btn">Apply</button>
                            </div>
                        </form>
                    </div>

                    <div class="table-content mt-5">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" <%= checkOptionMember.id ? '' : 'hidden' %>>#</th>
                                    <th scope="col" <%= checkOptionMember.name? '' : 'hidden' %>>Name</th>
                                    <th scope="col" <%= checkOptionMember.position ? '' : 'hidden' %>>Position</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% memberList.forEach((item, index) => { %>
                                <tr>
                                    <th scope="row" <%= checkOptionMember.id ? '' : 'hidden' %>><%= index + 1 %></th>
                                    <td <%= checkOptionMember.name ? '' : 'hidden' %>><%= item.fullname %></td>
                                    <td <%= checkOptionMember.position ? '' : 'hidden' %>><%= item.role ? item.role : 'Not Assigned'%></td>
                                    <td>
                                        <a href="projects/edit/<%= project[0].projectid %>">
                                            <button type="button" class="btn btn-success">Edit</button>
                                        </a>
                                        <a href="projects/delete/<%= project[0].projectid %>">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>

                        <a href="/projects/members/<%= project[0].projectid %>/add">
                            <button type="button" class="btn btn-primary">Add</button>
                        </a> <br> <br>

                    </div>
                </div>
            </main>

        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>