<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%_ include ../../partials/css-bootstrap -%>
    <style>
        .container-fluid {
            margin-top: 4%;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%- include('../../partials/navbar'); %>


    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/sidebar'); %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <h1>Add Member</h1>
                    <hr>
                    <br>
                    <form action="" method="POST">
                        <input type="hidden" name="projectId" value="<%= project[0].projectid %>">
                        <div class="row">
                            <div class="col">
                                <h2>Users</h2>
                            </div>
                            <div class="col-10">
                                <div class="form-group">
                                    <select name="user" id="user" class="form-control">
                                        <option selected disabled> Choose the user ...</option>
                                        <% users.forEach(item => { %>
                                        <option class="form-control" value="<%= item.userid %>"><%= item.fullname %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">
                                <h2>Position</h2>
                            </label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                   
                                    <input class="form-check-input" type="radio" name="role"
                                        value="manager">
                                    <label class="form-check-label">
                                        Manager
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role" value="programmer">
                                    <label class="form-check-label">
                                        Software Developer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role"
                                        value="quality assurance">
                                    <label class="form-check-label">
                                        Quality Assurance
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>

        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>