<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%_ include ../../partials/css-bootstrap -%>
    <style>
        body {
            margin-top: 60px;
            margin-bottom: 80px;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%- include('../../partials/navbar'); %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/sidebar'); %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <h1>Edit Member</h1>
                    <hr>
                    <br>
                    <form action="" method="POST">
                        <input type="hidden" name="projectId" value="<%= project[0].projectid %>">
                        <div class="row">
                            <div class="col">
                                <h2>Users</h2>
                            </div>
                            <div class="col-10">
                                <div class="form-group">
                                    <input type="text" name="fullname" class="form-control" id="fullname" value="<%= user[0].fullname %>" readonly>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">
                                <h2>Position</h2>
                            </label>
                            <div class="col-sm-10">
                                <div class="form-check">

                                    <input class="form-check-input" type="radio" name="role" value="manager" <%= user[0].role == 'manager' ? 'checked' : '' %>>
                                    <label class="form-check-label">
                                        Manager
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role" value="programmer" <%= user[0].role == 'programmer' ? 'checked' : '' %>>
                                    <label class="form-check-label">
                                        Software Developer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="role" value="quality assurance" <%= user[0].role == 'quality assurance' ? 'checked' : '' %>>
                                    <label class="form-check-label">
                                        Quality Assurance
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>

        </div>


    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../../partials/footer %>
</body>

</html>